# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
 
api/proto/document.md
internal/worker/test/task1/Document.md
internal/worker/ADAPTIVE_QUEUE_DESIGN.md
.gitignore
internal/worker/test/task2/document.md
.gitignore
internal/worker/test/task2/REPORT.md
setup/setup_http3.md
benchmark/NaiveCheck/node_modules
report.md
.gitignore
REPORT_BENCHMARK.md
